h5 {
    margin-left: 15px;
    color: black;
    font-weight: bold;
}

ion-input {
    color: black;
    background-color: white;
    margin-top: 3px;
    border-radius: 10px;
}

ion-row {
    background-color: #c9cfcb;
}