h5{
    margin-left: 15px;
    color: black;
    font-weight: bold;
}

h6 {
    color: black;
    border: 1px solid #ccc;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

ion-input{
    color: red;
}

ion-row {
    background-color: #c9cfcb;
}